@import 'styles/_variables.scss';

@mixin link {
  display: flex;
  text-align: center;
  align-items: center;
  color: $white;
  font-size: 20px;
  transition: all 0.2s ease-out;
  & > svg{
    transition: all 0.2s ease-out;
  }

  &:hover{
    color: $white-hover;
    & > svg{
      fill: $white-hover;
    }
  }
}

.link {
  @include link;
  &:last-of-type{
    flex-grow: 1
  };
  margin-right: 15px;
}

.logout{
  @include link;
  font-size: 16px;
  cursor: hover;
  outline: none;
  & > svg{
    transition: all 0.2s ease-out;
    transform: rotate(180deg);
  }
}

.rightNav {
  display: flex;
}

@mixin metamaskConnection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-right: 15px;
  font-weight: 500;
  svg {
    margin-left: 8px;
  }
}

.connected {
  @include metamaskConnection;
  svg {
    path {
      fill: $success-green;
    }
  }
}

.disconnected{
  @include metamaskConnection;
  svg{
    path{
      fill: darken($error-red, 5%);
    }
  }
}

.addMoneyButton{
  color: white !important;
  cursor: pointer;
  margin-right: 10px !important;
}
