@import 'styles/_variables.scss';

@mixin link {
  display: flex;
  text-align: center;
  align-items: center;
  color: $white;
  font-size: 20px;
  transition: all 0.2s ease-out;
  & > svg{
    transition: all 0.2s ease-out;
  }

  &:hover{
    color: $white-hover;
    & > svg{
      fill: $white-hover;
    }
  }
}

.link {
  @include link;
  &:last-of-type{
    flex-grow: 1
  };
  margin-right: 15px;
}

.logout{
  @include link;
  font-size: 16px;
  cursor: hover;
  outline: none;
  & > svg{
    transition: all 0.2s ease-out;
    transform: rotate(180deg);
  }
}

.rightNav {
  display: flex;
}