@import 'styles/_variables.scss';

.auctionFilters {
  input[type=date] { color: transparent !important; }
  .active input[type=date] { color: inherit !important; }
  position: relative;

  &:after{
    position: absolute;
    content: '';
    display: block;
    width: 100vw;
    left: -50%;
    height: 1px;
    background-color: rgba($gray, 0.2);
  }
}