@import 'styles/_variables.scss';

.authPage{
  background-color: $white;
  height: 100vh;
  &Card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 520px;
    height: 460px;
    border: 1px solid $lightGray;

    & > div {
      height: min-content;
      position: relative;
      top: 50%;
      transform: translateY(-60%);
    }

    h2{
      @include h2;
      color: $secondary;
      text-align: center;
    }
    p {
      color: $gray;
      margin: 8px 45px 0px 45px;
      text-align: center;
    }
  }
}