@import 'styles/_variables.scss';

.forgotPasswordPage{
  &Inputs{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
  }

  &Buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    &:last-child {
      margin-top: 10px;
    }
  }
}