@import 'styles/_variables.scss';

.formLayout {
  margin: 0 auto;
  width: 80%;
  .input {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 16px;
    color: $gray;
    outline: none;
  }

  .startDate,
  .status {
    width: calc(50% - 8px);
    margin-right: 16px !important;
    margin-bottom: 8px;
  }
  .endDate{
    width: calc(50% - 8px);
    margin-bottom: 8px;
  }

  .city,
  .criteria,
  .status {
    width: calc(33.3% - 8px);
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .criteria {
    margin-right: 0;
  }

  .buttons {
    margin-top: px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
