@import 'styles/_variables.scss';

.auctionDetailsPage {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 80px;
}

.auction {
  width: 70%;
  height: 100%;
  position: relative;
  @include text;
  font-size: 16px;

  .flag {
    &Box{
      position: absolute;
      right: 8px;
      top: -28px;
    }
    width: 20px;
    height: 20px;

    &Red{
      fill: $error-red;
    }
    &Green{
      fill: $success-green;
    }
  }

  &Info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    & > div{
      &:first-child {
        width: 80%;
        margin-right: 40px;
      }
      &:last-child{
        width: 20%;
      }
    }

    &Detail{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 8px 0px;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
  &Label{
    color: $gray;
    text-transform: uppercase;
  }

  &Title{
    max-height: 250px;
    overflow-y: auto;
  }

  .offers{
    max-width: 700px;
    margin-top: 20px;
  }
  &AddOffer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .offerBig {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .addOffer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary;
    font-weight: 500;
    border-radius: 4px;

    svg{
      fill: $primary;
      margin-right: 5px;
    }

    &Big{
      width: 225px;
      height: 60px;
      font-size: 18px;
    }

    &:hover{
      background-color: rgba($gray, 0.15);
    }

    &:active{
      background-color: rgba($gray, 0.25);

    }
  }
  .endAuction{
    @extend .addOffer;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
