@import 'styles/_variables.scss';

.loginPage{
  background-color: $white;
  height: 100vh;
  &Card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 520px;
    height: 400px;
    display: flex;

    h2{
      @include h2;
      margin-top: 10px;
      color: $secondary;
      text-align: center;
    }
  }

  &Inputs{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
  }

  &Input{
    margin-bottom: 25px;
  }

  &Buttons{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    &:last-child {
      margin-top: 10px;
    }
  }
}