@import 'styles/_variables.scss';

.offersGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 5px;
  max-height: 600px;
  overflow-y: auto;
}

.offer {
  @include text;
  width: 300px;
  height: 140px;
  border: 1px solid $primary;
  padding: 6px 12px;
  border-radius: 8px;

  &Row{
    margin-bottom: 5px;
    &:first-child{
      margin-top: 10px;
    }
  }

  &Label{
    color: $gray;
  }
}