@import 'styles/_variables.scss';

.Anulowane {
  color: $error-red;
}

.Zamknięte{
  color: black;
}

.Rozstrzygnięte{
  color: darken($success-green, 20%);
}

.inProgress {
  color: darken($secondary, 5%);
}